<%# Logo component with EN badge and Elite Nails text
  Parameters:
    - size: :small, :medium, :large (default: :medium)
    - linkable: boolean (default: true)
    - link_target: string (default: '#home')
%>
<% size ||= :medium %>
<% linkable = local_assigns.fetch(:linkable, true) %>
<% link_target ||= '#home' %>
<% collapsible_text = local_assigns.fetch(:collapsible_text, false) %>

<% sizes = {
  small: { logo: 'h-10' },
  medium: { logo: 'h-12' },
  large: { logo: 'h-14' }
} %>
<% size_classes = sizes[size] %>

<% if linkable %>
  <a href="<%= link_target %>" class="inline-flex items-center group">
    <%= image_tag "logo.png",
                  alt: "Elite Nails",
                  class: "#{size_classes[:logo]} w-auto transition-transform duration-300 group-hover:scale-105" %>
  </a>
<% else %>
  <div class="inline-flex items-center">
    <%= image_tag "logo.png",
                  alt: "Elite Nails",
                  class: "#{size_classes[:logo]} w-auto" %>
  </div>
<% end %>
